body {
    font-family: "Favorit-Pro-Regular", Helvetica, sans-serif;
    background-color: black;
    margin: 0 0;
}

a,
a:visited,
a:hover,
a:active {
    text-decoration: underline;
    color: white;
}

.left-content {
    background-color: #000;
}

.lockup-wrapper {
    height: 68vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.lockup-container {
    width: 45vw;
    height: 28vw;
    padding-left: 1.25vw;
}

.logo {
    width: 9vw;
    padding-bottom: 1vw;
    display: flex;
    height: auto;
    padding-left: 0.4vw;
}

.power-lockup {
    font-family: "Favorit-Pro-Bold", Helvetica, sans-serif;
    color: #525252;
    font-size: 6vw;
    letter-spacing: -0.4vw;
    line-height: 4.75vw;
    opacity: 0; /* Start invisible */
    transform: scale(0.95);
    animation: fadeInScale 0.6s ease-in-out forwards;
}

@keyframes fadeInScale {
    0% {
        opacity: 0;
        transform: scale(0.95); /* Initial scale */
    }
    100% {
        opacity: 1;
        transform: scale(1); /* Final scale */
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#green {
    color: #15e910;
}

#bold {
    font-family: "Favorit-Pro-Medium", Helvetica, sans-serif;
}

.right-content {
    background-color: #212121;
    width: 50%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
}

.message-wrapper {
    padding-top: 20vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow-y: auto;
}

.message-container {
    width: 32vw;
    height: 26vw;
    padding-left: 3vw;
    animation: fadeIn 0.6s ease-in-out forwards;
}

.message {
    font-family: "Favorit-Pro-Light", Helvetica, sans-serif;
    color: white;
    font-size: 1.25vw;
    letter-spacing: 0.02vw;
}

.text-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow-y: auto;
    height: 100%;
    position: relative;
    z-index: -1000;
}

.text-container {
    width: 40vw;
    height: 100%;
    padding-left: 3vw;
    padding-top: 10vw;
    animation: fadeIn 0.6s ease-in-out forwards;
}

.text {
    font-family: "Favorit-Pro-Light", Helvetica, sans-serif;
    color: white;
    font-size: 1vw;
    letter-spacing: 0.02vw;
    line-height: 1.5vw;
    padding-bottom: 5vw;
}

h1 {
    font-size: 2.5vw;
}

h2 {
    font-size: 1.5vw;
}

.highlight-1 {
    font-family: "Pressura-Mono-Light", "Favorit-Pro-Light", Helvetica,
        sans-serif;
    font-size: 1.2vw;
    letter-spacing: 0.15vw;
    background-color: #078d3a;
    color: #06ff00;
    padding-top: 0vw;
    padding-bottom: 0.15vw;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    border-radius: 0.6vw;
    display: inline;
    white-space: normal;
    word-break: break-word;
}

.highlight-2 {
    font-family: "Pressura-Mono-Light", "Favorit-Pro-Light", Helvetica,
        sans-serif;
    font-size: 1.2vw;
    letter-spacing: 0.15vw;
    background-color: #121212;
    color: #f5383a;
    padding-top: 0vw;
    padding-bottom: 0.15vw;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    border-radius: 0.6vw;
    display: inline;
    white-space: normal;
    word-break: break-word;
}

.paragraph {
    margin-bottom: 2vw;
}

.yours-link {
    color: #fff;
    border-bottom: 0vw solid white;
}

.yours-link {
    color: #fff;
    margin-bottom: 0.175vw;
    border-bottom: 0.07vw solid white;
    text-decoration: none;
}

.yours-link:hover {
    color: #000;
    background-color: #fff;
    text-decoration: none;
}

.mono-light {
    font-family: "Pressura-Mono-Light", "Favorit-Pro-Light", Helvetica,
        sans-serif;
}

.input-wrapper {
    width: 32vw;
    padding-left: 2.5vw;
    display: flex;
    align-items: center;
    margin-top: 0vw;
    gap: 0.2vw;
}

.invite-input {
    flex: 1;
    background-color: #111;
    color: #aaa;
    border: 0.2vw solid #000;
    border-radius: 10vw; /* Rounded corners */
    padding: 0.8vw 1vw;
    font-size: 1.25vw;
    outline: none;
    transform: scale(0.95);
    animation: fadeIn 0.6s ease-in-out forwards;
}

.invite-input::placeholder {
    color: #555;
    transition: color 0.1s ease;
}

.invite-input:focus {
    border-color: #4caf50;
    color: #15e910;
}

.invite-input:focus::placeholder {
    color: #fff;
}

.arrow-button {
    background-color: #111;
    border: none;
    border-radius: 50%;
    width: 3.5vw;
    height: 3.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(255, 255, 255, 0.8);
    font-size: 2vw;
    cursor: pointer;
    animation: fadeIn 0.6s ease-in-out forwards;
    outline: none;
}

.arrow-button:hover {
    color: #fff;
    background-color: #000;
}

.arrow-button:active {
    opacity: 1;
    background-color: #000;
    transform: scale(0.97);
}

.arrow-icon {
    display: block;
    font-weight: bold;
}

.footer,
.footer-bottom {
    font-family: "Favorit-Pro-Light", Helvetica, sans-serif;
    padding-left: 1vw;
    display: flex;
    justify-content: space-between; /* Space between left and right sections */
    width: 48vw;
    color: white;
    font-size: 0.85vw;
    opacity: 0; /* Start invisible */
    animation: fadeIn 0.5s ease-in forwards;
    margin-top: auto;
    padding: 1vw;
    bottom: 0vw;
    position: fixed;
}

.footer-bottom {
    font-size: 0.6vw;
    letter-spacing: 0.02vw;
    color: grey;
}

.footer {
    bottom: 1.25vw;
}

.footer-left {
    display: flex;
    gap: 2vw;
}

.footer-right {
    text-align: right;
}

.footer-bottom {
    text-align: left;
}

.footer-left a,
.footer-right a {
    text-decoration: none;
    color: white;
}

.footer-left a:hover,
.footer-right a:hover {
    text-decoration: none;
}

::selection {
    background-color: #15e910;
    color: black;
}

#no-mobeel,
.no-mobeel {
    display: block;
}

#yes-mobeel,
.yes-mobeel {
    display: none;
}

/* Mobeel
====================================================================================================== */

@media only screen and (max-width: 900px) {
    body {
    }

    .right-content {
        width: 100vw;
        background-color: #000;
    }

    .lockup-container {
        width: 98vw;
        height: 28vw;
        padding-left: 2vw;
        padding-top: 3vw;
    }

    .logo {
        width: 18vw;
        padding-bottom: 3vw;
        padding-left: 1.25vw;
    }

    .power-lockup {
        font-size: 12vw;
        letter-spacing: -0.5vw;
        line-height: 10vw;
        background-color: #000;
        padding-bottom: 2vw;
        z-index: 1000;
    }

    .message-wrapper {
        display: block;
        height: 100vh;
        padding-top: 24vw;
        margin-bottom: 200vw;
    }

    .message-container {
        width: 86vw;
        padding-left: 3vw;
    }

    .message {
        font-size: 4vw;
        letter-spacing: 0.02vw;
        line-height: 6vw;
    }

    .text-wrapper {
        display: block;
        height: 120vw;
        padding-top: 24vw;
    }

    .text-container {
        height: 100%;
        width: 86vw;
        padding-left: 3vw;
        padding-top: 0vw;
    }

    .text {
        font-size: 3vw;
        letter-spacing: 0.02vw;
        line-height: 5vw;
        padding-bottom: 20vw;
    }

    h1 {
        font-size: 5.5vw;
    }

    h2 {
        font-size: 3.75vw;
    }

    .highlight-1 {
        font-size: 4vw;
        letter-spacing: 0.75vw;
        padding-top: 0vw;
        padding-bottom: 0.5vw;
        padding-left: 2vw;
        padding-right: 1.75vw;
        border-radius: 2vw;
    }

    .highlight-2 {
        font-size: 4vw;
        letter-spacing: 0.75vw;
        padding-top: 0vw;
        padding-bottom: 0.5vw;
        padding-left: 2vw;
        padding-right: 1.75vw;
        border-radius: 2vw;
    }

    .paragraph {
        margin-bottom: 6vw;
    }

    .input-wrapper {
        width: 97vw;
        padding-left: 0vw;
        display: flex;
        align-items: center;
        padding-bottom: 8vw;
        gap: 1vw;
        bottom: 12vw;
        position: fixed;
        background-color: rgba(0, 0, 0, 0.1);
        -webkit-backdrop-filter: blur(15px) saturate(10);
        backdrop-filter: blur(15px) saturate(4);
        padding-top: 2vw;
    }

    .invite-input {
        flex: 1;
        background-color: #111;
        color: #aaa;
        border: 0.75vw solid #000;
        border-radius: 10vw; /* Rounded corners */
        padding: 5vw 5vw;
        font-size: 4vw;
        transition: all 0.1s ease;
    }

    .arrow-button {
        background-color: #111;
        width: 15vw;
        height: 15vw;
        color: rgba(255, 255, 255, 0.8);
        font-size: 8vw;
        cursor: pointer;
    }

    .arrow-button:hover {
        color: #000;
        background-color: #fff;
    }

    .arrow-button:active {
        background-color: #111;
        color: #fff;
        transform: scale(0.97);
    }

    .footer {
        width: 92vw;
        font-size: 2.25vw;
        animation: fadeIn 0.5s ease-in forwards;
        margin-top: auto;
        padding: 2.25vw;
        padding-left: 4vw;
        padding-top: 3.5vw;
        background-color: rgba(0, 0, 0, 0.9);
        border-top: 0.1vw solid rgba(255, 255, 255, 0.25);
    }

    .footer-bottom {
        width: 92vw;
        font-size: 2.25vw;
        animation: fadeIn 0.5s ease-in forwards;
        margin-top: auto;
        padding: 2.25vw;
        padding-left: 4vw;
        letter-spacing: 0.05vw;
        color: rgba(255, 255, 255, 0.3);
        background-color: rgba(0, 0, 0, 0.9);
        backdrop-filter: blur(15px) saturate(4);
    }

    .footer {
        bottom: 8vw;
    }

    .footer-left {
        display: flex;
        gap: 4vw;
    }

    .footer-left a:hover,
    .footer-right a:hover {
        text-decoration: none;
        padding-bottom: 0;
        border-bottom: none;
    }

    #no-mobeel,
    .no-mobeel {
        display: none;
    }

    #yes-mobeel,
    .yes-mobeel {
        display: block;
    }
}
